# Windows image file caches
Thumbs.db
ehthumbs.db
*.exe

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows Installer files
*.obj
*.vcproj
*.htm
*.idb
*.pdb
*.dep
*.user
*.ncb
*.sln
*.suo
*.exe.intermediate.manifest
*.exe.manifest

Wumbo*

#stuff
*.png

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Icon must ends with two \r.
Icon

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes
